.owl-carousel .owl-wrapper:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.owl-carousel{display:none;position:relative;width:100%;-ms-touch-action:pan-y;}
.owl-carousel .owl-wrapper{display:none;position:relative;-webkit-transform:translate3d(0px, 0px, 0px);}
.owl-carousel .owl-wrapper-outer{overflow:hidden;position:relative;width:100%;}
.owl-carousel .owl-wrapper-outer.autoHeight{-webkit-transition:height 500ms ease-in-out;-moz-transition:height 500ms ease-in-out;-ms-transition:height 500ms ease-in-out;-o-transition:height 500ms ease-in-out;transition:height 500ms ease-in-out;}
.owl-carousel .owl-item{float:left;}
@media all and (min-width:1200px){.gallery .owl-carousel .owl-item{position:relative;margin-right:10px;}
.special .owl-carousel .owl-item{width:700px !important;position:relative;margin-right:30px;}
}
.infomation .owl-carousel .owl-item{padding:0 10px;}
.special .owl-carousel .owl-item .item:hover img{opacity:0.6;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-o-transition:all 1s ease;-ms-transition:all 1s ease;transition:all 1s ease;}
.owl-carousel .owl-item .item div.box{margin:0 0 10px 0;position:relative;}
.gallery .owl-carousel .owl-item div.box{display:block;width:100%;height:100%;overflow:hidden;}
.gallery .owl-carousel .owl-item div.box img{-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-o-transition:all 1s ease;-ms-transition:all 1s ease;transition:all 1s ease;max-width:100%;}
.gallery .owl-carousel .owl-item div.box:hover img{-webkit-transform:scale(1.25);-moz-transform:scale(1.25);-ms-transform:scale(1.25);-o-transform:scale(1.25);transform:scale(1.25);}
.owl-carousel .owl-item .box h3{opacity:0;position:absolute;left:20px;bottom:20px;font-size:44px;text-transform:uppercase;text-shadow:0px 0px 6px #000;color:white;right:20px;white-space:initial;text-align:left;cursor:pointer;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-o-transition:all 1s ease;-ms-transition:all 1s ease;transition:all 1s ease;}
.gallery .owl-carousel .owl-item div.box:hover h3{opacity:1;}
.gallery .owl-controls,
.infomation .owl-controls,
.special .owl-controls{display:none !important;}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{cursor:pointer;}
.owl-controls{-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
.grabbing{cursor:url(grabbing.png) 8 8, move;}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);}